* {
  text-align: center;
}

body {
  background: #222;
  color: #fff;
}

div#page_title {
  margin: 100px;
}

div#page_title h1 {
  display: inline;
  font-size: 64px;
  background: #111;
  padding: 32px 64px;
  border-radius: 32px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

div#instruments {
  flex-wrap: wrap;
  justify-content: center;
}

div.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #000;
  margin: 32px;
  padding: 32px;
  border-radius: 32px;
}

div.instrument div.name {
  margin: 30px;
}

div.instrument div.name h2 {
  display: inline;
  font-size: 32px;
  background: #222;
  padding: 16px 32px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px #111;
}

div.instrument button {
  color: #fff;
  background: #222;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

div.instrument button:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px #222;
  background: #2a2a2a;
}

div.instrument button:active {
  transform: scale(0.95);
  box-shadow: none;
  background: #111;
}

div.result {
  margin: 20px;
}

a.digit {
  font: 'Courier New', monospace;
  color: #0fa;
  font-size: 32px;
  color: #0fa;
  padding: 10px;
}
