* {
  text-align: center;
}

body {
  background: #222;
  color: #fff;
}

div#page_title {
  margin: 100px;
}

div#page_title h1 {
  display: inline;
  font-size: 64px;
  background: #111;
  padding: 32px 64px;
  border-radius: 32px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

div#instruments {
  flex-wrap: wrap;
  justify-content: center;
}

div.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #000;
  margin: 32px;
  padding: 32px;
  border-radius: 32px;
}

div.result {
  margin: 20px;
}

div.result#result_keithley2000 a {
  font: 'Courier New', monospace;
  color: #0fa;
  font-size: 32px;
  color: #0fa;
  padding: 10px;
}

div.instrument div.settings {
  display: inline;
  width: 30vw;
}

button.measure_button {
  color: #fff;
  background: #222;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

button.measure_button:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px #222;
  background: #2a2a2a;
}

button.measure_button:active {
  transform: scale(0.95);
  box-shadow: none;
  background: #111;
}

select.measure_type {
  background: #222;
  color: #fff;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

select.measure_type:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px #222;
  background: #2a2a2a;
}

div.measure_option {
  background: #222;
  color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #111;
}

h3.measure_option_label {
  font-size: 20px;
  margin-right: 10px;
}

input.measure_option_number {
  background: #333;
  color: #fff;
  font-size: 20px;
  margin: 0px 10px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #111;
}

input.measure_option_number:focus {
  outline: none !important;
}

input.measure_option_slider {
  -webkit-appearance: none;
  margin-left: 10px;
  background: none;
}

input.measure_option_slider::-webkit-slider-runnable-track,
input.measure_option_slider::-moz-range-track {
  -webkit-appearance: none;
  background: #111;
  height: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #111;
  transition: background 0.3s ease;
}

input.measure_option_slider:hover::-webkit-slider-runnable-tracl,
input.measure_option_slider:hover::-moz-range-track {
  background: #0a0a0a;
}

input.measure_option_slider::-webkit-slider-thumb,
input.measure_option_slider::-moz-range-thumb {
  -webkit-appearance: none;
  background: #fff;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: transform 0.3s ease, background 0.3s ease;
}

input.measure_option_slider:hover::-webkit-slider-thumb,
input.measure_option_slider:hover::-moz-range-thumb {
  background: #aaa;
  transform: scale(1.05);
}

input.measure_option_slider:active::-webkit-slider-thumb,
input.measure_option_slider:active::-moz-range-thumb {
  background: #777;
  transform: scale(0.95);
}

/* Hide spinbox on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

div#front_panel_keithley2000 {
  background: #997;
  height: 300px;
  width: 1200px;
}

div#left_front_panel_keithley2000 {
  top: 0;
  left: 0;
  height: 300px;
  width: 200px;
  border: 1px solid #000;
}

h3.key_label_keithley2000 {
  color: #000;
  position: relative;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

h3#power_key_label_keithley2000 {
  color: #000;
  position: relative;
  right: 20px;
  bottom: 40px;
  font-size: 30px;
}

button.key_keithley2000 {
  position: relative;
  top: -40px;
  left: 60px;
  height: 40px;
  width: 40px;
  border: 2px solid #000;
  border-radius: 40px;
}

button#shift_key_keithley2000 {
  background: #086;
}

button#local_key_keithley2000 {
  background: #333;
}

button#power_key_keithley2000 {
  background: #997;
  top: -60px;
}

button#shift_key_keithley2000:hover {
  background: #075;
}

button#local_key_keithley2000:hover {
  background: #222;
}

button#shift_key_keithley2000:active {
  background: #064;
  transform: scale(0.9);
}

button#local_key_keithley2000:active {
  background: #111;
  transform: scale(0.9);
}
